#header {
    color: rgb(240,240,240);
    text-align: center;
    padding-top: 35px;
}

#element {
    color: rgb(240,240,240);
    text-align: center;
    padding: 10px;
}

#title {
    padding: 5px;
}